*{
    margin: 0;
    padding: 0;
}
:root{
    --border:rgb(58, 23, 23);
}

nav{
    margin-bottom: 10px;
    background-color: rgb(226, 209, 209);
    height: 80px;
    justify-content: center;
    align-items: center;
}
.nav-margin{
    justify-content:space-between;
    width: 95vw;
}

.logo a img{
    height: 127px;
}
.logo a{
    display:flex;
    height: 70px;
    width: 70px;
    border-radius:50px;
    overflow: hidden;
    transition: 100ms ease-in-out;
    outline: 2px solid rgb(142,127,127);
}

.logo a:hover{
    outline: 5px solid rgb(142, 127, 127);
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul{
    display: flex;
}
.list ul li{
    list-style: none;
    padding-left: 3px;
    margin: 0 15px;
    transition: 0.2s ease-in-out;
}
.list ul li a{
    font-size: 20px;
    text-decoration:none;
}
.list ul li a:visited{
    color:var(--border);
}

.list ul li:hover{
    transform: scale(2);
}

.calculator table{
    user-select: none;
    background-color: var(--border);
    cursor: context-menu;
    font-weight: bolder;
}

.calculator table , .calculator table td{
    border:5px solid red;
    border-spacing: 0;
    border-radius: 25px;
    border-color: var(--border);
    text-align: center;
}
.calculator table td{
    font-size: 25px;
    background-color: rgb(173, 160, 160);
    width: 75px;
    height: 85px;
    transition: 0.2s ease-in-out;
}

.calculator table tr .display{
    width: 328.800px;
    height: 110px;
    background-color: rgb(153, 153, 205);
    text-align: right;
    font-size: 40px;
}

.calculator table tr .display span{
    display: inline-block;
    width: 320px;
    overflow-x: hidden;
    padding: 0 10px;
}


.calculator table tr td:hover{
    transform: scale(1.1);
}
.display:hover{
    transform: none !important;
}
#ac{
    background-color: rgb(60, 60, 60);
    color: beige;
}
#ac:hover{
    color: black;
    background-color: orangered;
}

#equal:hover{
    color: whitesmoke;
    background-color: rgb(4, 129, 4);
}

#back:hover{
    color: rgb(59, 98, 0);
    background-color: rgb(212, 212, 78);
}